<form hx-post="{% url 'calendar' %}" hx-target="this" hx-swap="outerHTML" class="ui form bmi-form">
    <div class="row">
        <div class="col-12 text-center mt-4">
           <h2>Calendar</h2><br>
        </div>
     </div>
    <div class="field">
        <input type="number" name="year"  class="form-control" placeholder="yyyy" required>
    </div>
    <div class="field">
        <input type="number" name="month" class="form-control" placeholder="mm" required>
    </div>
    <button style="border-radius:10px;top:10px;position: relative;width:90%;left: 5%;margin-bottom: 20px;" class=" button btn btn-primary form-control" type="submit">Get Calendar</button>
    {{result|safe}}

</form>