<form hx-post="{% url 'simpleinterest' %}" hx-target="this" hx-swap="outerHTML" class="ui form si-form">

    <div class="row">
       <div class="col-12 text-center">
          <h2>Simple Interest</h2><br>
       </div>
    </div>
    
    <div class="field">
        <label>Amount*</label>
        <input type="number" name="amount" class="form-control" required>
        
    </div>
    <div class="field">
        <label>Rate of Interest*</label>
        <input type="number" name="rate-of-interest" class="form-control" required>
    </div>
    <div class="field">
        <label>Years*</label>
        <input type="number" name="year" class="form-control" required>
    </div>
   
    <button style="border-radius:10px;top:20px;position: relative;" class="button btn btn-primary form-control" type="submit">Calculate</button><br><br>


    <ol  class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Interest earned</div>
          </div>
          <span class="badge bg-warning text-black rounded-pill"><strong>{{result}}</strong></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Total value</div>
            
          </div>
          <span class="badge bg-success rounded-pill"><strong>{{total}}</strong></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Years</div>
          </div>
          <span class="badge bg-primary rounded-pill"><strong>{{year}}</strong></span>
        </li>
      </ol>

</form>