@media (max-width: 767px) {
    body {
        font-family: 'Lato', sans-serif;
    }

    span.menu {
        font-size: 20px;
        color: white;
        cursor: pointer;
        position: fixed;
        left: 80%;

    }

    .overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color:white;
       
        overflow-y: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 15%;
        width: 100%;
        
        margin-top: 20px;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 30px;
        color: black;
        display: block;
        transition: 0.3s;
        margin-left: 20%;
        font-weight: 700;
        
    }

    .overlay a:hover,
    .overlay a:focus {
        color: #f1f1f1;
    }

    .overlay .closebtn {
        position: absolute;
        top: 15px;
        right: 35px;
        font-size: 70px;
        text-decoration: none;
    }

    .overlay {
        overflow-y: auto;
    }

   
    .btn-floating {
        background-color: transparent;
        border: none;
    }





    .section-1 {
        background: linear-gradient(135deg, rgba(224, 25, 122, 0.8392857142857143) 0%, rgba(254, 113, 7, 0.9107142857142857) 100%);
    }

    .wave1 {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
        height: 110px;

    }

    .wave1 svg {
        position: relative;
        display: block;
        width: calc(141% + 1.3px);
        height: 99px;
        transform: rotateY(180deg);
    }

    .wave1 .shape-fill {
        fill: #282A35;
    }



    .wave1 svg {
        width: calc(160% + 1.3px);
        height: 58px;
    }

    .heading-1 {
        margin-top: 15%;
        font-size: 46px;
        font-weight: 700;
        text-shadow: 6px 6px 3px black,
            6px 6px 3px black;

    }

    .h3-1 {
        color: aliceblue;
        font-weight: 200;
        font-size: 20px;
        margin-top: 30px;
        text-shadow: 2px 2px 2px black,
            2px 2px 2px black;
    }

    .tech-cards {
        position: relative;
        margin: 14px;

    }

    .card {
        border-radius: 5px;

    }

    .card h6 {
        font-size: 15px;
    }



    .section-2 {
        background-color: #282A35;
    }

    .wave2 {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
        height: 200px;
    }

    .wave2 svg {
        position: relative;
        display: block;
        width: calc(141% + 1.3px);
        height: 99px;
        transform: rotateY(180deg);
    }

    .wave2 .shape-fill {
        fill: #D9EEE1;
    }

    .wave2 svg {
        width: calc(141% + 1.3px);
        height: 73px;

    }


    .heading-2 {
        margin-top: 15%;
        font-size: 46px;
        font-weight: 500;
        text-shadow: 3px 3px 2px red,
            3px 3px 2px red;
    }


    .box {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: rgb(53, 58, 58);
        border-radius: 20px;
        border: 5px solid black;
        box-shadow: 3px 3px 3px 5px rgb(82, 77, 77) inset,
            -3px -3px 3px 2px white inset;

    }

    .box h2 {
        position: relative;
        left: 10%;
    }

    .streched-link {
        text-decoration: none;
    }

    .box .arrow-icon {
        position: relative;
        color: red;
        background-color: aliceblue;
        padding: 10px;
        border-radius: 19px;

    }

    .box h2 {
        font-size: 25px;
        margin-top: 10px;
    }













    .section-3 {
        background-color: #D9EEE1;
    }

    .section-3 .wave3 {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
        height: 100px;
    }

    .section-3 .wave3 svg {
        position: relative;
        display: block;
        width: calc(141% + 1.3px);
        height: 99px;
        transform: rotateY(180deg);
    }

    .section-3 .wave3 .shape-fill {
        fill: black;
    }

    .section-3 .wave3 svg {
        width: calc(141% + 1.3px);
        height: 73px;
    }

    .heading-3 {
        color: red;
        font-size: 40px;
    }




    .section-4 {
        background-color: red;
    }







}